// COLORS
$primary-color: #192a56;
$secondary-color: #353b48;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.9rem;
$big-font-size: 4.5rem;
$mid-font-size: 3rem;
