// COLORS

$primary-color: #0369a1;
$secondary-color: #c084fc;
$white-color: #fff;
$dark-grey: #3b393c;

$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.9rem;
$big-font-size: 4.5rem;
$mid-font-size: 3rem;

// Pixels
$small: 0.75rem;
$medium: 1.25rem;
$large: 1.563rem;
$x-large: 2.188;

// Alternate colors I use
// $primary-color: #192a56;
// $secondary-color: #353b48;
//$dark-grey: #333333;