// COLORS

$primary-color: #036273;
$secondary-color: #ca424f;
$white-color: #fff;
$dark-grey: #3b393c;

$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.9rem;
$big-font-size: 4.5rem;
$mid-font-size: 3rem;

// Pixels
$small: 12px;
$medium: 20px;
$large: 25px;
$x-large: 35px;

// Alternate colors I use
// $primary-color: #192a56;
// $secondary-color: #353b48;
//$dark-grey: #333333;